<div class="main-dashboard">
    <div class="dashboard">
        <!-- ------progress-section---- -->
        <div class="progress-section row">
            <div class="total-student col-lg-3 col-sm-12 col-md-5">
                <div class="ml-3">
                    <h4 class="p-title">Total Students</h4>
                    <p class="total-number">2000</p>
                    <img src="../../assets/student-progress.png" alt="">`
                </div>
                <div>
                    <img src="../../assets/total-student.png" alt="">

                </div>
            </div>
            <div class="total-student col-lg-3 col-sm-12 col-md-5">
                <div>
                    <h4 class="p-title">Total Students</h4>
                    <p class="new-number">500</p>
                    <img src="../../assets/new-student-progress.png" alt="">
                </div>
                <div>
                    <img src="../../assets/new-student.png" alt="">

                </div>
            </div>
            <div class="total-student col-lg-3  col-sm-12  col-md-5">
                <div>
                    <h4 class="p-title">Total Students</h4>
                    <p class="courses-number">40</p>
                    <img src="../../assets/course-progress.png" alt="">
                </div>
                <div>
                    <img src="../../assets/total-courses.png" alt="">

                </div>
            </div>
            <div class="total-student col-lg-3  col-sm-12  col-md-5">
                <div>
                    <h4 class="p-title">Total Students</h4>
                    <p class="visitors-number">2000</p>
                    <img src="../../assets/visitor-progress.png" alt="">
                </div>
                <div>
                    <img src="../../assets/visitors.png" alt="">

                </div>
            </div>
        </div>
        <!-- -----sport-student-list----- -->
        <div class="student-sport-list">
            <div class="list-table">
                        <div class="list">
                            <div >
                                <h3 class="sport" style="font-weight:500;">Sport Student List</h3>
                            </div>
                            <div>
                                <img src="../../assets/rotate.png" class="list-icon" alt="">
                                <img src="../../assets/list-down.png" class="list-icon" alt="">
                                <img src="../../assets/close.png" class="list-icon" alt="">
                            </div>
                        </div>
                        <hr>
                        <div class="list">
                            <div >
                                <button type="button" class="btn btn-dark"><i class="bi bi-plus-lg"></i>Add New</button>
                            </div>
                            <div>
                                <img src="../../assets/pdf.png" class="list-icon" alt="">
                                <img src="../../assets/save.png" class="list-icon" alt="">
                                <button type="button" class="btn  print">print
                                    <img src="../../assets/print.png" class="list-icon" alt="">
                                </button>

                            </div>
                        </div>
                        <div class="student-list">
                            <table class="table table-hover">
                                <thead class="table-thead">
                                  <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">Student Name</th>
                                    <th scope="col">Assigned Coach</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Action</th>
        
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">
                                        <input  type="checkbox" id="gridCheck">
                                    </th>
                                    <td>John Wick</td>
                                    <td class="list-name">Harris</td>
                                    <td>12/5/22</td>
                                    <td>11:15</td>
                                    <td><button type="button" class="btn  actionOne">Action
                                        <img src="../../assets/action-down.png" style="background-color: #FD9C40; color:white;" alt="">
                                    </button></td>
                                  </tr>
                                  
                                  <tr>
                                    <th scope="row">
                                        <input  type="checkbox" id="gridCheck">
                                    </th>
                                    <td>John Wick</td>
                                    <td class="list-name">Bret lee</td>
                                    <td>12/5/22</td>
                                    <td>11:15</td>
                                    <td><button type="button" class="btn"  style="background-color: #3F8DFD; color:white;">Action
                                        <img src="../../assets/action-down.png" alt="">
                                    </button></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">
                                        <input  type="checkbox" id="gridCheck">
                                    </th>
                                    <td>John Wick</td>
                                    <td class="list-name">Keron</td>
                                    <td>12/5/22</td>
                                    <td>11:15</td>
                                    <td><button type="button" class="btn"  style="background-color: #FF6E6E; color:white;">Action
                                        <img src="../../assets/action-down.png"  alt="">
                                    </button></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">
                                        <input  type="checkbox" id="gridCheck">
                                    </th>
                                    <td>John Wick</td>
                                    <td class="list-name">Clay johnson</td>
                                    <td>12/5/22</td>
                                    <td>11:15</td>
                                    <td><button type="button" class="btn"  style="background-color: #333340; color:white;" >Action
                                        <img src="../../assets/action-down.png"alt="">
                                    </button></td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                  
            </div>
          
        </div>
        
        <!-- ----student-chart---- -->
        <div class="student-chart-list">
            <div class="list-chart">
                        <div class="chart-info">
                            <div >
                                <h3 class="sport" style="font-weight:500;">Sport Student List</h3>
                            </div>
                            <div>
                                <img src="../../assets/rotate.png" class="list-icon" alt="">
                                <img src="../../assets/list-down.png" class="list-icon" alt="">
                                <img src="../../assets/close.png" class="list-icon" alt="">
                            </div>
                        </div>
                        <hr>
                        <div class="student-chart">
                            <div id="chart">
                            </div>
                        </div>
                  
            </div>
          
        </div>
    </div>
</div>