<nav class="navbar navbar-light ">
    <div class="container-fluid p-0">
        <div class="header row">
            <div class="header-title col-3 d-flex">
                <button style="color:black ;" class="btn menu" (click)="togglebtn()"><i class="bi bi-list"></i></button>
                <div class="student-name">
                    <h2 class="m-0">Education Dashboard</h2>
                    <p class="Nav-name">Welcome, Henna Baker's</p>
                </div>
               
            </div>
            <div class=" header-info col-9 ">
                <div class="d-flex mt-2 dropdown" (click)="flagImg()">
                    <img src="../../assets/iceland.png" class="iceland-flag" alt="">
                    <h1 class="language">English</h1>
                   
                    <div class="dropdown-content">
                        <a href="#"  ><img src="../../assets/korea.png" alt="" class="flag">korea</a>
                        <a href="#" ><img src="../../assets/germany.png" alt=""  class="flag">germany</a>
                        <a href="#" ><img src="../../assets/japan.png" alt=""  class="flag">korea</a>

                        </div>
                    <div class="mt-1 icons">
                        <i class="bi bi-bell header-icon "></i>
                        <i class="bi bi-envelope header-icon mr-3" ></i>
                    </div>
                </div>
           
                <div class="admin-profile">
                    <img src="../../assets/admin-profile.png" class="admin-image" alt="">
                    <div class="admin-name">
                        <h2 class="m-0 a-name ">clay johnson</h2>
                        <p class="m-0 " style="font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: rgba(106, 106, 106, 0.5);">Admin Staff</p>
                        
                      
                    </div>
                    <div >
                        <img src="../../assets/drop-down.png" class="drop-down"   alt="">

                    </div>
                   
                
                </div>
            </div>
          
        </div>
    
     
        
    </div>
  </nav>
  

