
<div class="main-section">
    <div class="side-bar">
        <div  class="vector">
            <img src="../../assets/logo.png" class="logo" alt="">
            <h5 class="main-title ml-5 text-align-center">Vision Education 
                <br>Hub</h5>
        </div> 
  
      
        <div class="search">
            <i class="bi bi-search"></i>
            <input type="text" class="form-control text-search" placeholder="Search">
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </div>
        <hr>
        <div class="dashboard side-nav" routerLink="/dashboard " routerLinkActivate="list-item-active">
            <div class="dash ">
                <div class="d-flex component-name">
                    <img src="../../assets/dashboard.svg" class="d-img" alt="">
                    <h5 class="dash-name">Dashboard</h5>
                </div>
                <img src="../../assets/dropdown.svg" class="dropdown" alt="">

            </div>
        </div>
        <div class="dashboard side-nav">
            <div class="dash ">
                <div class="d-flex">

                    <img src="../../assets/event-management.svg" class="d-img" alt="">
                    <h5 class="dash-name">Event management</h5>
            </div>
            <img src="../../assets/dropdown.svg" class="dropdown" alt="">


            </div>
        </div>
        <div class="dashboard side-nav">
            <div class="dash ">
                <div class="d-flex">
                    <img src="../../assets/professor.svg" class="d-img" alt="">
                    <h5 class="dash-name">Professors</h5>
                </div>
                
                <img src="../../assets/dropdown.svg" class="dropdown" alt="">

            </div>
        </div>
        <div class="dashboard side-nav">
            <div class="dash ">
                <div class="d-flex">

                <img src="../../assets/student.svg" class="d-img" alt="">
                <h5 class="dash-name">Students</h5>
            </div>
            <img src="../../assets/dropdown.svg" class="dropdown" alt="">


            </div>
        </div>
        <div class="dashboard side-nav">
            <div class="dash ">
                <div class="d-flex">

                <img src="../../assets/courses.svg" class="d-img" alt="">
                <h5 class="dash-name mt-2">Courses</h5>
            </div>
            <img src="../../assets/dropdown.svg" class="dropdown" alt="">


            </div>
        </div>
        <div class="dashboard side-nav">
            <div class="dash ">
                <div class="d-flex">

                <img src="../../assets/library.svg" class="d-img" alt="">
                <h5 class="dash-name mt-2">Library</h5>
            </div>
            <img src="../../assets/dropdown.svg" class="dropdown" alt="">

            </div>
        </div>
        <div class="dashboard side-nav">
            <div class="dash ">
                <div class="d-flex">

                <img src="../../assets/department.svg" class="d-img" alt="">
                <h5 class="dash-name mt-2">Department</h5>
            </div>
            <img src="../../assets/dropdown.svg" class="dropdown" alt="">

            </div>
        </div>
        <div class="dashboard side-nav">
            <div class="dash ">
                <div class="d-flex">

                <img src="../../assets/staff.svg" class="d-img" alt="">
                <h5 class="dash-name mt-2">Staff</h5>
                </div>
                <img src="../../assets/dropdown.svg" class="dropdown" alt="">


            </div>
        </div>
        <br>
        <!-- -------student-profile---- -->
        <div class="profile-section ">
            <div class="student-profile ml-3 ">
                <img src="../../assets/student-profile.png" class="student-img" alt="">
                <h2 class="s-name">Henna Baker's</h2>
                <p class="gmail" style="color: rgba(0, 0, 0, 0.5);;">Henna Baker's@gmail.com</p>
                <div class="student-icon d-flex">
                    <div class="p-icon">
                        <i class="bi bi-gear"></i>
                    </div>
                    <div class="p-icon">
                        <i class="bi bi-box-arrow-right"></i>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
